@model PasswordChangeModel
@{
    ViewData["Title"] = "Change password";
}

<div>
    <h1 class="text-center p-5">Change password</h1>
</div>

<form method="post" class="container-fluid bg-secondary rounded-borders-block py-3">

    <input asp-for="Id" type="hidden" />

    <h2 class="text-center text-light pb-4">@(User.Identity?.Name ?? string.Empty)</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="bg-light rounded-borders-block m-2">
                <div class="input-group">
                    <label asp-for="OldPassword" class="input-label-block p-2 px-4"></label>
                    <input asp-for="OldPassword" class="form-control rounded-borders-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="bg-light rounded-borders-block m-2">
                <div class="input-group">
                    <label asp-for="NewPassword" class="input-label-block p-2 px-4"></label>
                    <input asp-for="NewPassword" class="form-control rounded-borders-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="bg-light rounded-borders-block m-2">
                <div class="input-group">
                    <label asp-for="PasswordConfirm" class="input-label-block p-2 px-4"></label>
                    <input asp-for="PasswordConfirm" class="form-control rounded-borders-block" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto pt-4">
            <button type="submit" class="btn btn-success">Save</button>
            <a asp-action="Info" class="btn btn-outline-light">Back</a>
        </div>
    </div>

</form>
