@model PasswordResetModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Password Reset";
}

<form method="post" class="mb-4">
    <h2 class="fw-bold mb-2 text-uppercase">Password reset</h2>
    <p class="text-white-50 mb-5">Please enter new password</p>

    <div class="form-outline form-white mb-4">
        <input asp-for="NewPassword" class="form-control form-control-lg" />
        <span asp-validation-for="NewPassword" class="validation-error-message"></span>
    </div>

    <div class="pb-3">
        <ul asp-validation-for-all class="validation-error-message"></ul>
    </div>

    <div>
        <button class="btn btn-outline-light btn-lg px-5" type="submit">Set new password</button>
    </div>
</form>
