@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Vtask";
}

<div class="mb-4">

    <h3 class="fw-bold mb-2 text-uppercase">Password reset message was send to email</h3>

    <div asp-validation-summary="All" class="text-danger"></div>

</div>
